@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/functions";


.container {
    &__contact {
        &__body {
            display: grid;
            gap: 1rem;
        }

        &__header {
            color: $text-color-height;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0 5rem;

            &__title {
                font-size: 1.3rem;
                letter-spacing: 0.3rem;
                text-align: center;
                font-family: 'Cormorant Garamond', Georgia, "Times New Roman", serif;
                font-weight: 300;
            }

            &__description {
                font-style: italic;
                font-size: 0.75rem;
                font-family: 'Cormorant Garamond', Georgia, "Times New Roman", serif;
                font-weight: 200;
            }
        }

        &__body {
            &__contact {
                display: grid;
                gap: 1rem;

                &__text {
                    &__address {
                        display: grid;
                    }
                }
            }
        }
    }

    &__body {
        &__contact {
            padding: 2rem 6rem;
            &__text {
                display: grid; 
                gap: 1rem;
            }
            &__form {
                &__input {
                    width: 100%;
                }

                &__information {

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                    width: 100%;

                    &__message {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 1rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.body {
    &__contact {
        &__text {
            display: grid;
            font-size: 0.7rem;
            font-family: 'Cormorant Garamond', Georgia, "Times New Roman", serif;
            font-weight: 200;
            gap: 0.4rem;

            &__color {
                color: $text-color-height;
            }
        }

        &__form {
            display: grid;
            gap: 1rem;
            width: 100%;

            &__input {
                padding: 0.5rem;
                width: 90%;
                &__message {
                    width: 95%;
                }
            }
        }
    }
}